
<div>
    
    
    <div  title="Please select the country that the customer will primarily be served from">
        <label>State</label>
        <select placeholder="Phantasyland" (change)="changeState($any($event.target).value)">
            <option *ngFor ="let count of state_arr">{{count}} </option>
        </select>
    
    
        <label>City</label>
    
        <select placeholder="Anycity" (change)="assignCity($any($event.target).value)">
            <option *ngFor ="let city of cities">{{city}} </option>
      </select>
    </div>
    
    
    <!-- <div style="display: block">
      <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [chartType]="barChartType">
      </canvas>
    </div> -->
  </div>